<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="userSQL">
	<select id="isExistId" parameterType="String">
     	select * from member where id=#{id}
     </select>
     
     <insert id="write" parameterType="member.bean.MemberDTO">
        insert into member values(#{name},#{id},#{pwd},#{gender},#{email1},#{email2},#{tel1},#{tel2},#{tel3},#{zipcode},#{addr1},#{addr2},sysdate)
     </insert>
     
     <select id="login" parameterType="member.bean.MemberDTO">
     	select * from member where id=#{id} and pwd=#{pwd}
     </select>
	     
	<select id="getMember" parameterType="String" resultType="member.bean.MemberDTO">
		select * from member where id=#{id}
	</select>
	
	<update id="update" parameterType="member.bean.MemberDTO">
     	update member set name=#{name}
     					  , pwd=#{pwd}
     					  , gender=#{gender}
						  , email1=#{email1}
					   	  , email2=#{email2}
					      , tel1=#{tel1}
					      , tel2=#{tel2}
					      , tel3=#{tel3}
					      ,zipcode=#{zipcode}
					      ,addr1=#{addr1}
					      ,addr2=#{addr2}
     	 where id=#{id}
     </update>
</mapper>